name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        server-id: 'central'
    - name: Build with Maven
      run: ./mvnw -B verify

    - name: Update dependency graph
      if: github.ref == 'refs/heads/main'
      uses: advanced-security/maven-dependency-submission-action@v4
